# Игнорировать папку .idea (PyCharm)
.idea/

# Игнорировать виртуальное окружение
.venv/

# Игнорировать файлы Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы окружения
.env

# Игнорировать Docker-файлы (если не нужно их хранить)
# docker-compose.yml  # раскомментировать, если не нужно

# Общие файлы
*.log
*.tmp
*.swp
*.bak

# Временные файлы
*.tmp
*~

